In [33]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [34]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [35]:
train = train.drop(["Date", "Type"], axis = 1)
test = test.drop(["Date", "Type"], axis = 1)

In [36]:
train.head()

,id,IsHoliday,Weekly_Sales,Total_MarkDown,Month,Fuel_Price,Store,Week,Size,mean,Temperature,min,CPI,Unemployment,Dept,median,max,Year,std
0,1,0,13381.89,12842.28,6,3.746,26,23,152513,13208.499230,49.43,6120.86,138.117419,7.489,23,12926.41,37432.64,2021,4158.467030
1,2,0,3557.00,0.00,5,3.145,10,19,126512,4361.426503,73.88,2712.29,126.208548,9.524,27,3837.00,13078.92,2019,1558.230214
2,3,0,114.40,0.00,4,3.524,3,13,37392,138.125874,68.76,44.00,218.211418,7.574,60,132.00,299.20,2020,44.311329
3,4,0,52.65,0.00,9,2.582,30,37,42988,77.297376,83.03,0.95,211.180642,8.099,85,70.60,320.64,2019,54.640116
4,5,0,3043.38,0.00,3,2.654,34,9,158114,3032.286713,42.65,1655.84,126.578286,9.521,24,2592.51,7661.74,2019,1300.513723

In [37]:
test.head()

,id,IsHoliday,Total_MarkDown,Month,Fuel_Price,Store,Week,Size,mean,Temperature,min,CPI,Unemployment,Dept,median,max,Year,std
0,261973,1,42832.84,11,3.536,40,47,155083,43256.156850,32.76,34750.08,136.478800,4.420,91,42290.62,58422.35,2020,5224.212422
1,261974,0,22473.00,9,4.125,10,38,126512,279.449021,81.93,97.20,131.010333,7.170,83,264.84,927.08,2021,116.867244
2,261975,0,0.00,7,2.669,11,26,207499,14801.952030,83.09,9917.97,214.546322,7.346,87,14498.55,22519.33,2019,2466.505159
3,261976,0,0.00,3,3.488,3,11,37392,8774.928042,69.47,4163.69,217.723523,7.551,11,7583.69,27991.76,2020,4041.126246
4,261977,0,18065.84,9,3.821,13,39,219622,56786.934760,64.80,29763.69,131.043000,5.765,5,48611.54,224823.65,2021,30808.440230

In [39]:
X_train = train.drop('Weekly_Sales', axis=1)
y_train = train['Weekly_Sales']

In [ ]:
rfc = RandomForestRegressor(n_estimators=100, random_state=42)
rfc.fit(X_train, y_train)

In [ ]:
X_test = test.drop('target', axis=1)
y_test = test['target']